<div class="w-full flex flex-col items-center justify-center gap-10 text-center -mt-20 mb-20 animate__animated animate__fadeIn">
    <a class="w-56 p-2 text-sm font-semibold rounded-xl bg-gray-400 hover:bg-gray-700 hover:text-white hover:drop-shadow-lg
        text-center cursor-pointer transition duration-150 ease-in" [routerLink]="['/home']">Torna alla home</a>
    <hr class="w-full md:w-1/3">
    <div class="flex flex-col sm:flex-row justify-between items-center gap-5 sm:gap-10">
        <label for="questions">Materia attuale</label>
        <select class="border rounded-lg border-black p-2" name="paniere" id="paniere" (change)="selectPaniere($event)">
            <option [value]="paniere.paniereId" [selected]="config?.currentPaniere?.paniereId === paniere.paniereId" *ngFor="let paniere of panieri">{{paniere.name}}</option>
        </select>
    </div>
    <hr class="w-full md:w-1/3">
    <div class="flex flex-col sm:flex-row justify-between items-center gap-5 sm:gap-10">
        <label for="questions">Numero domande</label>
        <input class="border rounded-lg border-black p-2" type="number" name="questions" id="questions" (change)="selectQuestionsNumber($event)" [value]="config?.questionsPerTest"/>
    </div>
    <div class="flex flex-col sm:flex-row justify-between items-center gap-5 sm:gap-10">
        <label for="rightQuestions">Numero minimo di domande corrette</label>
        <input class="border rounded-lg border-black p-2" type="number" name="rightQuestions" id="rightQuestions" (change)="selectRightQuestionsNumber($event)" [value]="config?.minCorrectAnswers"/>
    </div>
    <hr class="w-full md:w-1/3">
    <div class="flex flex-col sm:flex-row justify-between items-center gap-10">
        <div>Algoritmo estrazione domande</div>
        <div class="flex flex-col gap-2">
            <div class="flex flex-row gap-2">
                <input type="radio" name="algorithm" id="alg-rand" (click)="selectAlgorithm('random')" [checked]="alg === 'random'" />
                <label for="alg-rand" class="text-left">Casuale</label>
            </div>
            <div class="flex flex-row gap-2">
                <input class="cursor-not-allowed" type="radio" name="algorithm" id="alg-error" (click)="selectAlgorithm('error')" [checked]="alg === 'error'" disabled/>
                <label for="alg-error" class="text-left">Priorità domande sbagliate (non ancora attivo)</label>
            </div>
        </div>
    </div>
    <hr class="w-full md:w-1/3">
    <a class="w-56 p-2 rounded-xl font-semibold bg-cyan-400 hover:bg-cyan-500 hover:text-white hover:drop-shadow-lg
    text-center cursor-pointer transition duration-150 ease-in" (click)="fileUpload.click()">Modifica domande</a>
    <input type="file" class="hidden" #fileUpload>
</div>
