<div class="w-full flex flex-col items-center justify-center animate__animated animate__fadeIn gap-5 mb-20">

    <div class="w-full md:w-1/2 flex justify-between gap-5 -mt-40">
        <a class="w-48 p-2 text-sm font-semibold rounded-xl bg-gray-400 hover:bg-gray-700 hover:text-white hover:drop-shadow-lg
        text-center cursor-pointer transition duration-150 ease-in" [routerLink]="['/home']">Torna alla home</a>
        <a class="w-48 p-2 text-sm font-semibold rounded-xl bg-red-400 hover:bg-red-700 hover:text-white hover:drop-shadow-lg
        text-center cursor-pointer transition duration-150 ease-in" (click)="deleteScores()">Elimina punteggi</a>
        <a class="w-48 p-2 text-sm font-semibold rounded-xl bg-yellow-400 hover:bg-yellow-600 hover:text-white hover:drop-shadow-lg
        text-center cursor-pointer transition duration-150 ease-in" [href]="downloadJsonHref" download="download.json">Esporta</a>
    </div>

    <div class="w-full text-center flex flex-col items-center justify-center gap-5">
        <div class="font-semibold">Storico dei punteggi</div>

        <div
            *ngFor="let score of scores" 
            class="w-full md:w-1/2 flex flex-col items-center justify-center p-5 bg-gray-100 drop-shadow-lg rounded-xl">
            <div class="w-full flex flex-row justify-between justify-left gap-5">
                {{score.date | date: 'dd MMMM YYYY HH:mm:ss' | titlecase }}
                <div class="flex flex-row justify-center items-center gap-5">
                    <div class="text-lg">Punteggio:</div>
                    <div class="flex flex-row">
                        <div class="{{score.rightAnswers >= rightQuestionsNumber ? 'text-green-500' : 'text-red-500'}}">{{score.rightAnswers}}</div>
                        <div>/{{score.totalAnswers}}</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    

</div>
